/* .App {
	width: 100%;
	min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  /* place-items: center; */
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
